@model IEnumerable<fyp_hunger_nd_spice_.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-theme btn-lg" href="@Url.Action("Create","Employees")">Add new item </a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
             Role
        </th>
        <th>
           Gender
        </th>
        <th>
        Email
        </th>
        <th>
           Contact
        </th>
        <th>
           Address
        </th>
        <th>
          Picture
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Employee_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee_Role)
    </td>
 
    <td>
        @Html.DisplayFor(modelItem => item.Employee_Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee_email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee_contact)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee_address)
    </td>
    <td>
        <img height="100px" width="100px" src="@Url.Content(item.Employee_pic)" />
    </td>
    <td>
        <a class="btn btn-primary fa fa-edit" href="@Url.Action("Edit","Emplpoyees",new { id = item.Employee_id})"></a>
        <a class="btn btn-success fa fa-book" href="@Url.Action("Details","Emplpoyees",new { id = item.Employee_id })"></a>
        <a class="btn btn-danger fa fa-trash" href="@Url.Action("Delete","Emplpoyees",new { id = item.Employee_id } )"></a>

    </td>
</tr>
}

</table>
