
@model IEnumerable<fyp_hunger_nd_spice_.Models.Employee>

@{
    Layout= "~/Views/Shared/_layoutadmin.cshtml";
   
}
<h2>Claening Staff report</h2>

<table class="table table-bordered table-hover ">
    <tr style="background-color: #4ECDC4">
        
        <th align="center">Employee ID</th>
        <th align="center">Employee Name</th>
        
        <th align="center">Employee Gender</th>
        <th align="center">Employee Email</th>
        <th align="center">Employee  Contact</th>
        <th align="center">Employee  Address</th>
        <th align="center">Employee  Role</th>

      

        
    </tr>
    @foreach (var p in Model)
    {
        <tr>
        <tr>
         
            <td align="center">@p.Employee_id</td>
            <td align="center">@p.Employee_name</td>
            <td align="center">@p.Employee_Gender</td>
            <td align="center">@p.Employee_email</td>
            <td align="center">@p.Employee_contact</td>
            <td align="center">@p.Employee_address</td> 
            <td align="center">@p.Employee_Role</td>

            
       
           
        
            
        </tr>
        </tr>
    }

</table>
