
@model IEnumerable<fyp_hunger_nd_spice_.Models.Employee>


@{
    int no = 0;
    Layout= "~/Views/Shared/_layoutadmin.cshtml";

}

<h2>Employees report</h2>
<select  onchange="location.href = '@Url.Action("employeereport", "Report")?role=' + encodeURIComponent(this.value)">
    <option>Employee Role</option>
    <option value="Chef">Chef</option>
    <option value="Waiter">Waiter</option>
    <option value="Delivery Man">Delivery Man</option>
</select>



<table class="table table-bordered table-hover ">
    <tr style="background-color: #4ECDC4">


        <th align="center">Sr #</th>
        <th align="center">Employee ID</th>
        <th align="center">Employee Name</th>

        <th align="center">Employee Gender</th>
        <th align="center">Employee Email</th>
        <th align="center">Employee  Contact</th>
        <th align="center">Employee  Address</th>
        <th align="center">Employee  Role</th>




    </tr>
    @foreach (var p in Model)
    {
        no++;
        <tr>


            <td align="center">@no</td>
            <td align="center">Id # @p.Employee_id</td>

            <td align="center">@p.Employee_name</td>
            <td align="center">@p.Employee_Gender</td>
            <td align="center">@p.Employee_email</td>
            <td align="center">@p.Employee_contact</td>
            <td align="center">@p.Employee_address</td>
            <td align="center">@p.Employee_Role</td>






        </tr>

    }

</table>
