@model IEnumerable<fyp_hunger_nd_spice_.Models.Order>
@{
    ViewBag.Title = "Invoice";
    double totalamount = 0;
    int totalqty = 0;
}
<b align="center" style="font-size:4rem;">Invoice</b>
<br />

@foreach (var o in Model)
{
    <b colspan="4" align="center" style="font-size:2rem;">Order Detail</b>
    <table class="table table-bordered table-hover ">

        <tr>
            <th>Order Number</th>
            <td>@o.Order_ID</td>
            <th>Person Name</th>
            <td>@o.Order_Name</td>
        </tr>
        <tr>
            <th>Order Date</th>
            <td>@o.Order_date</td>
            <th>Contact</th>
            <td>@o.Order_Contact</td>
        </tr>
        <tr>
            <th>Order Status</th>
            <td>@o.Order_status</td>
            <th>Email</th>
            <td>@o.Order_Email</td>
        </tr>
        <tr>
            <th>Order Type</th>
            <td>@o.Order_type</td>
            <th>Address</th>
            <td>@o.Order_Address</td>
        </tr>
    </table>


    <b colspan="6" align="center" style="font-size:2rem;">Product Detail</b>


    <table class="table table-bordered table-hover ">


        <tr>
            <th>Product picture</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Product Amount</th>

        </tr>
        @foreach (var od in o.Orderdetails)
        {

            <tr>
                <td><img height="100px" width="100px" src="@Url.Content(od.Ingredient.ingredient_pic)" /></td>
                <td>@od.Ingredient.ingredient_name</td>
                <td>@od.Ingredient.ingredient_description</td>
                <td>@od.price</td>
                <td>@od.Quantity</td>
                <td>@(double.Parse(od.price.ToString())*int.Parse(od.Quantity.ToString()))</td>

            </tr>
            totalqty += int.Parse(od.Quantity.ToString());
            totalamount += double.Parse(od.price.ToString())* int.Parse(od.Quantity.ToString());
        }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@totalqty</td>
            <td>@totalamount</td>

        </tr>

    </table>
}
