@model fyp_hunger_nd_spice_.Models.Menu
    @using fyp_hunger_nd_spice_.Models

@{ Layout= "~/Views/Shared/_layoutcustomer.cshtml"; }

<div class="col-lg-6 text-center text-lg-start">
    <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>


</div>
<div class="col-lg-6 text-center text-lg-end ">
    <img class="img-fluid imgflu" src="~/Content/customer/img/hero.png" alt="">
</div>
        </div>
    </div>
</div>
        </div>
<!-- Navbar & Hero End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Master Chefs</h5>
                        <p>Experience the flavors crafted by our skilled culinary team, ensuring a gastronomic delight with every bite</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Quality Food</h5>
                        <p>Experience the taste of excellence with our meticulously selected, high-quality food offerings.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Online Order</h5>
                        <p>Satisfy your cravings with a seamless online ordering experience delivered right to your doorstep</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>24/7 Service</h5>
                        <p>Craving something delicious at any hour? Our food ordering website is here for you, 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="~/Content/customer/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="~/Content/customer/img/about-2.jpg" style="margin-top: 25%;">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Resturant</h1>
                <p class="mb-4">Welcome to our food ordering website! We are delighted to bring you a seamless and convenient way to satisfy your culinary cravings. Explore a diverse range of delectable dishes crafted by talented chefs, all available at your fingertips.</p>

                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">Years of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Popular</p>
                                <h6 class="text-uppercase mb-0">Master Chefs</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("About","Home")" class="btn btn-primary py-3 px-5 mt-2">Read more</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var c in Model.cat)
            {
                <ul class="nav d-inline-flex justify-content-center border-bottom mb-5">

                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" href="@Url.Action("IndexCustomer","Home", new { id=c.Cat_ID  })">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">

                                <h6 class="mt-n1 mb-0">@c.Cusinie_name<small class="text-muted">(@c.products.Count())</small></h6>
                            </div>
                        </a>
                    </li>

                </ul>
            }
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach (var p in Model.pro)
                        {

                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <div class="product-image">

                                        <img class="flex-shrink-0 img-fluid rounded" src="@Url.Content(p.Products_pic)" alt="" style="width: 90px; height:80px;">
                                        <div class="product-action pro12 ">

                                            <a href="@Url.Action("addtocart","Home", new {id= p.Products_id})"><i class="fa fa-cart-plus"></i></a>
                                        </div>

                                    </div>
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>@p.Products_name</span>
                                            <span class="text-primary">@p.Products_price</span>
                                        </h5>
                                        <small class="fst-italic">@p.Products_description</small>
                                    </div>
                                </div>
                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
<!-- Reservation Start -->
<!-- Reservation Start -->
<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            @{ 
                Model db = new Model();
                var e = db.Employee.Where(x=>x.Employee_Role=="Chef").Take(4).ToList();
                foreach (var Employee in e)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle  m-4">
                                <img class="img-fluid"  height="120px" width="100px" src="@Url.Content(Employee.Employee_pic)" alt="">
                            </div>
                            <h5 class="mb-0">@Employee.Employee_name</h5>
                            <small>@Employee.Employee_Role</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>

                  
                        } }

                   

                </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->

<!-- Testimonial End -->
