@using fyp_hunger_nd_spice_.Models


@{
    int row = 0;
    int total_qua = 0;
    decimal totalbill = 0;
    Layout= "~/Views/Shared/_layoutcustomer.cshtml";
    int shipingcost = 100;
}


<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</html>


<h1 class="display-3 text-center text-white mb-3 animated slideInDown">Order Booked</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center text-uppercase">
        
        <li class="breadcrumb-item text-white active" aria-current="page">Thanks for your trust!</li>
    </ol>
</nav>
</div>
    </div>
</div>
<div id="printArea" >


<!-- Cart Start -->
<div class="container-xxl py-5">
    <div class="container ">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Your</h5>
            <h1 class="mb-5">Shopping Cart</h1>

            <div class="cart-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cart-page-inner">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th style="font-size:20px;">Product</th>
                                                <th style="font-size:20px;">Price</th>
                                                <th style="font-size:20px;">Quantity</th>
                                                <th style="font-size:20px;">Total</th>

                                            </tr>
                                        </thead>
                                        <tbody class="align-middle">
                                            @if (Session["mycart"] !=null)
                                            {

                                                foreach (var item in (List<product>)Session["mycart"])
                                                {

                                                    <tr>
                                                        <td>
                                                            <div class="img">
                                                                <a href="#"><img src="@Url.Content(item.Products_pic)" alt="Image"></a>
                                                                <p>
                                                                    <a class="#FEA116" href="#" style="font-size:20px">

                                                                        @item.Products_name

                                                                    </a>
                                                                    <br />
                                                                    <i style="font-size:13px">
                                                                        @item.Products_description

                                                                    </i>
                                                                </p>
                                                            </div>
                                                        </td>
                                                        <td>Rs. @item.Products_price</td>

                                                        <td>


                                                            @item.pro_quan


                                                        </td>
                                                        <td>@(decimal.Parse(item.Products_price.ToString())* int.Parse(item.pro_quan.ToString()))</td>

                                                    </tr>
                                                    row++;
                                                    total_qua+=item.pro_quan;

                                                    totalbill+= (decimal.Parse(item.Products_price.ToString())* int.Parse(item.pro_quan.ToString()));

                                                }

                                                /*Session["Totalamount"]=totalbill; */

                                            }
                                            @if (Session["mycart"]== null || row==0)
                                            {
                                                <tr><td colspan="6" align="center" style="font-size:20px;">Your cart is empty <a href="@Url.Action("Menu","Home")">Click Here</a> to check menu</td></tr>
                                            }


                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td> <b style="font-size:20px">Total bill</b></td>
                                                <td></td>
                                                <td><b>@total_qua</b></td>
                                                <td><b>@totalbill</b></td>

                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="order1"><span class="thank1"> Thank you!  </span>  Your order will be delivered soon!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart-page-inner">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="cart-summary">
                                            <div class="cart-content">
                                                <h1>Cart Summary</h1>
                                                <p><span>Rs.@totalbill</span>Sub Total</p>
                                                <p><span>Rs.0</span>Discount</p>
                                                <p><span>Rs.0</span>Tax</p>
                                                <p><span>Rs.@shipingcost</span>Shipping Cost</p>
                                                <h2><span>@Session["Totalamount"]</span>Grand Total</h2>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm("paynow", "Home"))
                        {
                            <div class="checkout">
                                <div class="container-fluid">
                                    <div class="row">
                                        @if (Session["order"] != null)
                                        {
                                            Order o = (Order)Session["order"];

                                            <div class="col-lg-12 col-sm-12">
                                                <div class="order-box">
                                                    <H2>Customer details</H2>
                                                    <div class="d-flex">
                                                        <h3>Customer Name :  </h3>
                                                        <div class="ml-auto od font-weight-bold">@o.Order_Name</div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <h3>Customer Email :  </h3>
                                                        <div class="ml-auto od font-weight-bold">@o.Order_Email</div>
                                                    </div>
                                                    <hr class="my-1">
                                                    <div class="d-flex">
                                                        <h3>Customer contact detail :  </h3>
                                                        <div class="ml-auto od  font-weight-bold">@o.Order_Contact</div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <h3>Customer address :  </h3>
                                                        <div class="ml-auto od  font-weight-bold">@o.Order_Address</div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <h3>Customer status :  </h3>
                                                        <div class="ml-auto  od font-weight-bold">@o.Order_status</div>
                                                    </div>
                                                    <hr>


                                                </div>
                                            </div>}

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <input class="btn btn-danger" type="submit" value="Print Now" onclick="return PrintFunction()" />
            <a class="btn btn-danger" href="@Url.Action("closeorder","home")" >Close Order?</a>
        </div>

        <br />

        <script type="text/javascript">

            function PrintFunction() {
                window.print();
            }
        </script>

        <!-- Cart End -->

